main {
  flex-grow: 1;
}
.main__section {
  background-color: $sacramento-state-green;

  background-image: url(../../images/svg/manage__section.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.section__manage {
  padding-bottom: 14rem;
  padding-top: 14rem;
  display: flex;
  align-items: center;
}

.manage__top {
  margin-right: 12.5rem;
  hr {
    margin-bottom: 5.4rem;
    background-color: $light-coral;
  }
  h2 {
    width: 100%;
    max-width: 445px;
    font-size: $h2-fs;
    line-height: $h2-lh;
  }
}

.manage__cards-wrapper {
  padding-top: 14rem;
  .manage__cards-wrapper__card {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3.2rem;
    h3 {
      font-size: $h3-fs;
      line-height: $h3-lh;
      color: $light-coral;
      margin-bottom: 1.6rem;
    }
    p {
      color: $white-color;
      font-size: $body-fs-sm;
      line-height: $body-lh-sm;
    }
  }
}
// delivering section
.delivering__section {
  background-image: url(../../images/svg/reviews-bg-left.svg), url(../../images/svg/reviews-bg-right.svg);
  background-repeat: no-repeat;
background-position: top left,bottom right;
  background-color: $deep-jungle-green;
  .delivering__section__container {
    flex-direction: column;
    padding-top: 14rem;
    padding-bottom: 14rem;
    h2 {
      font-size: $h2-fs;
      line-height: $h2-lh;
      text-align: center;
      margin-bottom: 5.6rem;
      span {
        color: $rapture-blue;
      }
    }
    .reviews-bg-left-img {
      position: relative;
      bottom: 57.8rem;
      left: -21rem;
    }
    .story-wrapper {
      display: flex;
      gap: 3rem;
      .story {
        background-image: url(../../images/svg/icon-quotes.svg);
        background-position: top;
        background-repeat: no-repeat;
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .story__text {
          font-size: $body-fs-sm;
          line-height: $body-lh-sm;
          margin-bottom: 2.4rem;
          padding-top: 2rem;
        }
        h3 {
          font-size: $h3-fs;
          line-height: $h3-lh;
          margin-bottom: 3px;
          color: $rapture-blue;
        }
        .job__hero {
          font-size: 1.3rem;
          line-height: 1.4rem;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

// delivering end

// bottom__section
.section__bottom {
  background-color: $light-coral;
  background-image: url(../../images/svg/bottom__section.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.section__bottom__container {
  display: flex;
  gap: 26rem;
  justify-content: center;
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;

  h2 {
    font-size: $h2-fs;
    line-height: $h2-lh;
    color: $sacramento-state-green;
  }
}

// bottom__section__end

@media screen and (max-width: 768px) {
  .main__section{
    background-position: top right;
  }
  
  .section__manage {
    display: flex;
    flex-direction: column;
    padding: 10rem 9.8rem;
    .manage__top {
      hr {
        margin-bottom: 3.2rem;
      }
      h2 {
        font-size: 3.2rem;
        line-height: 1;
        margin-bottom: 6.4rem;
      }
    }

    .manage__cards-wrapper {
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }
    .manage__section__image {
      position: relative;
      top: -64.7rem;
      left: 33rem;
    }
  }
  .delivering__section__container {
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
    h2 {
      font-size: $h2-sm-fs;
      line-height: $h2-sm-lh;
      margin-bottom: 4.8rem;
    }
    .story-wrapper {
      flex-direction: column;
    }
    .story {
      .story__text {
        width: 537px;
        margin-bottom: 1.6rem;
      }
      .job__hero {
        margin-bottom: 1.6rem;
      }
    }
    .reviews-bg-left-img {
      position: relative;
      bottom: 57.8rem;
      left: 20rem;
    }
  }

  .section__bottom__container {
    padding-top: 8.4rem;
    padding-bottom: 8.4rem;
    gap: 8.4rem;
    h2 {
      font-size: $h2-sm-fs;
      line-height: $h2-sm-lh;
    }
  }
}
@media screen and (max-width: 635px) {
  .section__manage {
    display: flex;
    flex-direction: column;
    padding: 10rem 9.8rem;
    .manage__top {
      hr {
        margin-bottom: 3.2rem;
      }
      h2 {
        width: 24rem;
        height: 16rem;
        font-size: $h2-sm-fs;
        line-height: $h2-sm-lh;
        margin-bottom: 6.4rem;
      }
    }

    .manage__cards-wrapper {
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }
    .manage__section__image {
      position: relative;
      top: -92.2rem;
      left: 21rem;
    }
  }
  .section__bottom__container {
    padding-top: 8.3rem;
    padding-bottom: 8.3rem;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      width: 327px;
      height: 64px;
      font-size: $h2-sm-fs;
      line-height: $h2-sm-lh;
    }
    
  }
}
