.header {
  background-color: $midnight-green;
}

.header__top {
  padding-top: 7.3rem;
  padding-bottom: 7.3rem;
}
.header__top__container {
  display: flex;
  align-items: center;
}
.container {
}
.site-logo {
  margin-right: 8rem;
}

.sitenav {
  margin-right: auto;

  ul {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  a {
    color: $white-color;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: $light-coral;
    }
  }
}

.header__nav__toggler {
  display: none;
}

.header__bottom {
  padding-top: 5.6rem;
  padding-bottom: 15rem;

  .header__bottom__container {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    .header__bottom__container__image-right {
      margin-left: -25.5rem;
      margin-right: 9.5rem;
    }
    .header__bottom__title__wrapper {
      width: 100%;
      max-width: 600px;
      margin-right: 5rem;
      h1 {
        font-size: $h1-fs-lg;
        line-height: $h1-lh-lg;
      }
    }
  }
  .header__bottom__content {
    width: 100%;
    max-width: 445px;
    .header__bottom__divider {
      margin-bottom: 8rem;
      background-color: $rapture-blue;
    }
    .header__bottom__descriptiption {
      font-size: 1.8rem;
      line-height: 1.6;
      letter-spacing: 0px;
    }
  }
  .header__bottom__container__image {
    position: relative;
    top: 15rem;
    left: 75rem;
  }
  background-image:
    url(../../images/svg/header-bottom-image.svg);
  background-repeat: no-repeat;
  background-position: bottom right 13rem;
}

.site-divider {
  width: 5rem;
  height: 4px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .header__top {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  .site-logo {
    margin-right: 4.8rem;
  }

  .header__bottom {
    .header__bottom__container__image {
      position: relative;
      top: 15rem;
      left: 15rem;
    }

    .header__bottom__container {
      flex-direction: column;
      h1 {
        text-align: center;
        margin-bottom: 2.4rem;
        width: 100%;
        max-width: 683px;
      }
      hr {
        display: none;
      }
      p {
        text-align: center;
        width: 457px;
      }

      .header__bottom__container__image-right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .header__top {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .site-logo {
    display: block;
    margin-right: auto;
  }

  .sitenav {
    display: none;
  }

  .header__link {
    display: none;
  }
  .header__bottom {
    .header__bottom__container__image {
      position: relative;
      left: auto;
    }
    .header__bottom__container {
      h1 {
        text-align: center;
        margin-bottom: 1.8rem;
        line-height: 1;
        font-size: 4rem;
        max-width: 590px;
        width: 100%;
      }
      hr {
        display: none;
      }
      p {
        text-align: center;
        max-width: 590px;
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
      .header__bottom__container__image-right {
        display: none;
      }
    }
  }

  .header__nav__toggler {
    background-color: transparent;
    border: none;
    display: block;
  }
}
